In [5]:
import sys
import pandas as pd
sys.path.append('../')

Zero-shot prompting

In [6]:
# load data
data = pd.read_csv('../data/clustering_results/kmeans_2_results_hourly_categories_nooutliers3.csv')
data.head(2)

,id,date,exertion_points,step_goal,minutes_below_zone_1,minutes_in_zone_1,steps,very_active_minutes,minutes_in_zone_2,minutes_in_zone_3,altitude,lightly_active_minutes,moderately_active_minutes,sedentary_minutes,exercises,exercise_duration,sleep_points,sleep_duration,calories,cluster
0,621e2e8e67b776a24055b564,2021-05-24 00:00:00,0.622928,0.0,0.936806,0.081134,0.017563,0.080685,0.0,0.0,0.0,0.254701,0.083045,0.495139,0.074074,0.001865,0.810469,0.0,0.029382,1
1,621e2e8e67b776a24055b564,2021-05-24 01:00:00,0.622928,0.0,0.936806,0.081134,0.000000,0.080685,0.0,0.0,0.0,0.254701,0.083045,0.495139,0.074074,0.001865,0.810469,0.0,0.002914,1

In [ ]:
# denormalize data

In [14]:
# instance = 0
# zero_prompt = 'Why a user on', pd.to_datetime(data.loc[instance, 'date']).day_name(), "at", pd.to_datetime(data.loc[instance, 'date']).hour, "o'clock, who  
# # is in cluster", data.loc[instance, 'cluster'], "?"